In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, concat, lit, floor, rand,avg

In [2]:
# creating a spark session
spark = SparkSession \
    .builder \
    .appName("read csv file") \
    .getOrCreate()

In [3]:
df = spark.read.format("csv").load("SocialNetworkAds.csv")

In [4]:
df.show()

+--------+------+---+---------------+---------+
|     _c0|   _c1|_c2|            _c3|      _c4|
+--------+------+---+---------------+---------+
| User ID|Gender|Age|EstimatedSalary|Purchased|
|15624510|  Male| 19|          19000|        0|
|15810944|  Male| 35|          20000|        0|
|15668575|Female| 26|          43000|        0|
|15603246|Female| 27|          57000|        0|
|15804002|  Male| 19|          76000|        0|
|15728773|  Male| 27|          58000|        0|
|15598044|Female| 27|          84000|        0|
|15694829|Female| 32|         150000|        1|
|15600575|  Male| 25|          33000|        0|
|15727311|Female| 35|          65000|        0|
|15570769|Female| 26|          80000|        0|
|15606274|Female| 26|          52000|        0|
|15746139|  Male| 20|          86000|        0|
|15704987|  Male| 32|          18000|        0|
|15628972|  Male| 18|          82000|        0|
|15697686|  Male| 29|          80000|        0|
|15733883|  Male| 47|          25000|        1|
|15617482|  Male| 45|          26000|        1|
|15704583|  Male| 46|          28000|        1|
+--------+------+---+---------------+---------+
only showing top 20 rows

In [5]:
df.head()

Row(_c0='User ID', _c1='Gender', _c2='Age', _c3='EstimatedSalary', _c4='Purchased')

In [6]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)

In [7]:
#reading a json file
dataframe = spark.read.format("json").load("zipcode1.json")

In [8]:
dataframe.show()

+-----------+-------+-------------+-----+--------------------+---------------+--------------+------+------------+-----+-----------+-----+-----+-----+-----------+-------+
|       City|Country|Decommisioned|  Lat|            Location|   LocationText|  LocationType|  Long|RecordNumber|State|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|
+-----------+-------+-------------+-----+--------------------+---------------+--------------+------+------------+-----+-----------+-----+-----+-----+-----------+-------+
|PARC PARQUE|     US|        false|17.96|NA-US-PR-PARC PARQUE|Parc Parque, PR|NOT ACCEPTABLE|-66.22|           1|   PR|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
+-----------+-------+-------------+-----+--------------------+---------------+--------------+------+------------+-----+-----------+-----+-----+-----+-----------+-------+

In [9]:
#ETL-Extract Transform Load
#extracting the data from the source file
df = spark.read.format("csv").load("SocialNetworkAds.csv")

In [10]:
df.show()

+--------+------+---+---------------+---------+
|     _c0|   _c1|_c2|            _c3|      _c4|
+--------+------+---+---------------+---------+
| User ID|Gender|Age|EstimatedSalary|Purchased|
|15624510|  Male| 19|          19000|        0|
|15810944|  Male| 35|          20000|        0|
|15668575|Female| 26|          43000|        0|
|15603246|Female| 27|          57000|        0|
|15804002|  Male| 19|          76000|        0|
|15728773|  Male| 27|          58000|        0|
|15598044|Female| 27|          84000|        0|
|15694829|Female| 32|         150000|        1|
|15600575|  Male| 25|          33000|        0|
|15727311|Female| 35|          65000|        0|
|15570769|Female| 26|          80000|        0|
|15606274|Female| 26|          52000|        0|
|15746139|  Male| 20|          86000|        0|
|15704987|  Male| 32|          18000|        0|
|15628972|  Male| 18|          82000|        0|
|15697686|  Male| 29|          80000|        0|
|15733883|  Male| 47|          25000|        1|
|15617482|  Male| 45|          26000|        1|
|15704583|  Male| 46|          28000|        1|
+--------+------+---+---------------+---------+
only showing top 20 rows

In [11]:
df = df.withColumn("OriginalSalary", floor(lit(10000) + rand() * lit(10000)) )
df.show()

+--------+------+---+---------------+---------+--------------+
|     _c0|   _c1|_c2|            _c3|      _c4|OriginalSalary|
+--------+------+---+---------------+---------+--------------+
| User ID|Gender|Age|EstimatedSalary|Purchased|         10983|
|15624510|  Male| 19|          19000|        0|         19399|
|15810944|  Male| 35|          20000|        0|         10825|
|15668575|Female| 26|          43000|        0|         19655|
|15603246|Female| 27|          57000|        0|         19933|
|15804002|  Male| 19|          76000|        0|         10574|
|15728773|  Male| 27|          58000|        0|         18580|
|15598044|Female| 27|          84000|        0|         11350|
|15694829|Female| 32|         150000|        1|         12310|
|15600575|  Male| 25|          33000|        0|         19986|
|15727311|Female| 35|          65000|        0|         18700|
|15570769|Female| 26|          80000|        0|         15036|
|15606274|Female| 26|          52000|        0|         16879|
|15746139|  Male| 20|          86000|        0|         10671|
|15704987|  Male| 32|          18000|        0|         13526|
|15628972|  Male| 18|          82000|        0|         16552|
|15697686|  Male| 29|          80000|        0|         14010|
|15733883|  Male| 47|          25000|        1|         10204|
|15617482|  Male| 45|          26000|        1|         19638|
|15704583|  Male| 46|          28000|        1|         12265|
+--------+------+---+---------------+---------+--------------+
only showing top 20 rows

In [12]:
#dropping unnecessary column
df=df.drop("EstimatedSalary")
df.show()

+--------+------+---+---------------+---------+--------------+
|     _c0|   _c1|_c2|            _c3|      _c4|OriginalSalary|
+--------+------+---+---------------+---------+--------------+
| User ID|Gender|Age|EstimatedSalary|Purchased|         10983|
|15624510|  Male| 19|          19000|        0|         19399|
|15810944|  Male| 35|          20000|        0|         10825|
|15668575|Female| 26|          43000|        0|         19655|
|15603246|Female| 27|          57000|        0|         19933|
|15804002|  Male| 19|          76000|        0|         10574|
|15728773|  Male| 27|          58000|        0|         18580|
|15598044|Female| 27|          84000|        0|         11350|
|15694829|Female| 32|         150000|        1|         12310|
|15600575|  Male| 25|          33000|        0|         19986|
|15727311|Female| 35|          65000|        0|         18700|
|15570769|Female| 26|          80000|        0|         15036|
|15606274|Female| 26|          52000|        0|         16879|
|15746139|  Male| 20|          86000|        0|         10671|
|15704987|  Male| 32|          18000|        0|         13526|
|15628972|  Male| 18|          82000|        0|         16552|
|15697686|  Male| 29|          80000|        0|         14010|
|15733883|  Male| 47|          25000|        1|         10204|
|15617482|  Male| 45|          26000|        1|         19638|
|15704583|  Male| 46|          28000|        1|         12265|
+--------+------+---+---------------+---------+--------------+
only showing top 20 rows

In [13]:
df=df.drop("age")

In [14]:
a=df.select(col('_c2'))

In [15]:
a.show()

+---+
|_c2|
+---+
|Age|
| 19|
| 35|
| 26|
| 27|
| 19|
| 27|
| 27|
| 32|
| 25|
| 35|
| 26|
| 26|
| 20|
| 32|
| 18|
| 29|
| 47|
| 45|
| 46|
+---+
only showing top 20 rows

In [16]:
# filtering the age
df.filter(col('_c2')>25)
df.show()

+--------+------+---+---------------+---------+--------------+
|     _c0|   _c1|_c2|            _c3|      _c4|OriginalSalary|
+--------+------+---+---------------+---------+--------------+
| User ID|Gender|Age|EstimatedSalary|Purchased|         10983|
|15624510|  Male| 19|          19000|        0|         19399|
|15810944|  Male| 35|          20000|        0|         10825|
|15668575|Female| 26|          43000|        0|         19655|
|15603246|Female| 27|          57000|        0|         19933|
|15804002|  Male| 19|          76000|        0|         10574|
|15728773|  Male| 27|          58000|        0|         18580|
|15598044|Female| 27|          84000|        0|         11350|
|15694829|Female| 32|         150000|        1|         12310|
|15600575|  Male| 25|          33000|        0|         19986|
|15727311|Female| 35|          65000|        0|         18700|
|15570769|Female| 26|          80000|        0|         15036|
|15606274|Female| 26|          52000|        0|         16879|
|15746139|  Male| 20|          86000|        0|         10671|
|15704987|  Male| 32|          18000|        0|         13526|
|15628972|  Male| 18|          82000|        0|         16552|
|15697686|  Male| 29|          80000|        0|         14010|
|15733883|  Male| 47|          25000|        1|         10204|
|15617482|  Male| 45|          26000|        1|         19638|
|15704583|  Male| 46|          28000|        1|         12265|
+--------+------+---+---------------+---------+--------------+
only showing top 20 rows

In [17]:
#sorting
df=df.orderBy('_c2')
df.show()

+--------+------+---+-----+---+--------------+
|     _c0|   _c1|_c2|  _c3|_c4|OriginalSalary|
+--------+------+---+-----+---+--------------+
|15628972|  Male| 18|82000|  0|         16552|
|15764195|Female| 18|44000|  0|         14290|
|15746737|  Male| 18|52000|  0|         13244|
|15666141|Female| 18|68000|  0|         12196|
|15578738|Female| 18|86000|  0|         18836|
|15804002|  Male| 19|76000|  0|         10574|
|15624510|  Male| 19|19000|  0|         19399|
|15672091|Female| 19|21000|  0|         15437|
|15741094|  Male| 19|25000|  0|         15255|
|15807909|  Male| 19|85000|  0|         10317|
|15662067|Female| 19|26000|  0|         10567|
|15662901|  Male| 19|70000|  0|         16435|
|15595228|Female| 20|23000|  0|         12586|
|15709476|  Male| 20|49000|  0|         18199|
|15668504|Female| 20|82000|  0|         19962|
|15746139|  Male| 20|86000|  0|         10671|
|15767871|  Male| 20|74000|  0|         17129|
|15724402|Female| 20|82000|  0|         11551|
|15680243|Female| 20|36000|  0|         14328|
|15573452|Female| 21|16000|  0|         10680|
+--------+------+---+-----+---+--------------+
only showing top 20 rows

In [18]:
#Grouping by age and counting
countbyage = df.groupBy("_c2").count().show()

+---+-----+
|_c2|count|
+---+-----+
| 51|    3|
| 54|    4|
| 29|   10|
| 42|   16|
| 30|   11|
| 34|    6|
| 59|    7|
| 28|   12|
| 22|    5|
| 35|   32|
| 52|    6|
| 47|   14|
| 43|    3|
| 31|   11|
| 18|    5|
| 27|   13|
| 26|   16|
|Age|    1|
| 46|   12|
| 60|    7|
+---+-----+
only showing top 20 rows

In [19]:
df.head()

Row(_c0='15628972', _c1='Male', _c2='18', _c3='82000', _c4='0', OriginalSalary=16552)

In [20]:
newdf=df
newdf.show()

+--------+------+---+-----+---+--------------+
|     _c0|   _c1|_c2|  _c3|_c4|OriginalSalary|
+--------+------+---+-----+---+--------------+
|15628972|  Male| 18|82000|  0|         16552|
|15764195|Female| 18|44000|  0|         14290|
|15746737|  Male| 18|52000|  0|         13244|
|15666141|Female| 18|68000|  0|         12196|
|15578738|Female| 18|86000|  0|         18836|
|15804002|  Male| 19|76000|  0|         10574|
|15624510|  Male| 19|19000|  0|         19399|
|15672091|Female| 19|21000|  0|         15437|
|15741094|  Male| 19|25000|  0|         15255|
|15807909|  Male| 19|85000|  0|         10317|
|15662067|Female| 19|26000|  0|         10567|
|15662901|  Male| 19|70000|  0|         16435|
|15595228|Female| 20|23000|  0|         12586|
|15709476|  Male| 20|49000|  0|         18199|
|15668504|Female| 20|82000|  0|         19962|
|15746139|  Male| 20|86000|  0|         10671|
|15767871|  Male| 20|74000|  0|         17129|
|15724402|Female| 20|82000|  0|         11551|
|15680243|Female| 20|36000|  0|         14328|
|15573452|Female| 21|16000|  0|         10680|
+--------+------+---+-----+---+--------------+
only showing top 20 rows

In [ ]:
#saving new file
newdf.write.save('newdata.csv',format='csv')

In [24]:
#creating data frame
database = [("Alice", 28, 5000), ("Bob", 35, 6000), ("Charlie", 28, 5500), ("David", 35, 7000)]
columns = ["Name", "Age", "Salary"]

data = spark.createDataFrame(database, columns)

In [25]:
data.show()

+-------+---+------+
|   Name|Age|Salary|
+-------+---+------+
|  Alice| 28|  5000|
|    Bob| 35|  6000|
|Charlie| 28|  5500|
|  David| 35|  7000|
+-------+---+------+